body {
  font-family: 'Lato', sans-serif;
  background: #000911;
  color: #FFF;
}

nav {

}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.location-card {
  display: flex;
  flex-direction: column;
  width: 47%;
  background: #17222a;
  border-radius: 20px;
}

.machine-card {
  display: flex;
  margin: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.location-name {
  text-align: center;
  font-size: 30px;
  background-color: #313C44;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 12px;
  margin-top: 0px;
  padding-bottom: 12px;
  margin-bottom: 2px;
}

.status-line {
  margin: 2px;
}

.machine-logo {
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.current-beer-container {
  display: flex;
}

.current-beer {
  width: 125px;
}

.current-size {
  height: 125px;
}

.oos {
  color: #cc0000;
  background-color: #ea9999;
}

.end-run {
  color: #000;
  background: #cccccc;
}

.start-run {
  color: #38761d;
  background: #b6d7a8;
}

.machine-btn {
  border: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  width: 225px;
  margin: 5px;
}

.machine-btn:hover {
  font-size: 22px;
}
